extends layout
block extraHeader
    title 404
block content

    #myStyle
        h1 WHOOPS
        H2 it looks like you've taken a wrong turn!
        a(href="/")
            button.btn.btn-primary(type="button") Home