extends layout

block content
    #myStyle
        h1 About Prism
        h3 GUI II Semester Project
        a(href="/user/tyler")
            button.btn.btn-primary(type="button") Tyler Bainbridge
        a(href="/user/alex")
            button.btn.btn-primary(type="button") Alex Cushing
        a(href="/user/jam__")
            button.btn.btn-primary(type="button") James Erardi
        a(href="/user/anevers")
            button.btn.btn-primary(type="button") Alex Nevers
        p For more information, feel free to check out our Github Repository.
        a(href="https://github.com/tylerjbainbridge/Prism")
            button.btn.btn-primary(type="button") Github
        a(href="/")
            button.btn.btn-primary(type="button") Home
        //a(href="/contact")
            //button.btn.btn-primary(type="button") Contact
