extends layout

block content
    #myStyle
        h1 About Prism
        h3 GUI II Semester Project
        h4 Tyler Bainbridge / Alex Cushing / James Erardi / Alex Nevers
        p For more information, feel free to check out our Github Repository.
        a(href="https://github.com/tylerjbainbridge/Prism")
            button.btn.btn-primary(type="button") Github
        a(href="/")
            button.btn.btn-primary(type="button") Home
        //a(href="/contact")
            //button.btn.btn-primary(type="button") Contact
