extends layout
block extraHeader
    title Feed
block extraScript
    script(src="/js/newsfeed.js")
block content
    script.
        var newsFeed = !{JSON.stringify( newsfeed )};
    a(href="/")
        #logoText
            p prism
    if(user)
        #selLog
            a(href="/")
                button.btn.btn-primary(type="button") My Profile
            a(href="/logout")
                button.btn.btn-primary(type="button") Logout
        #myStyle
            h1 News Feed
        #myStyle
            #newsfeed

