extends layout
block extraHeader
    title Notifications
block extraScript
    script(src="/js/following.js")
block content
    script.
        var userFollowing = !{JSON.stringify(users)};
    a(href="/")
        #logoText
            p prism
    a#hide(href="/")
        #logoimg
            img(src= "/img/templogo.png")
    #selLog
        a(href="/user/#{username}")
            button.btn.btn-primary(type="button") Back
    #myStyle
        h1 Followers
        #myFeedStyle
            #following
