extends layout
<link type="text/css" rel="stylesheet" href="public/stylesheets/style.css" />
block content
  if (!user)
    .container
      #myStyle
          h1 Prism
          p.lead A Photo Sharing Application
        #btn
          a(href="/login")
            button.btn(type="button") Login
          br
          br
          a(href="/register")
            button.btn(type="button") Register

  if (user)
    #logoText
      p PRISM
    .container
        #myStyle
          img#proP.myClass(src= " " + user.propic)
          .myClass
            h1 #{user.fullname}
            #myUserTitle
                p <em>#{user.title}</em>
    #selLog
      a(href="/logout")
        button.btn.btn-primary(type="button") Logout
