extends layout
<link type="text/css" rel="stylesheet" href="public/stylesheets/style.css" />
<<<<<<< HEAD
block extraHeader
  if(user)
    title #{user.username}
  if(!user)
    title Prism
block content
  #top
  if (!user)
    //img(src="/img/background2.jpg", id="bg", alt="")
    .container
      #myStyle
        #bigLogo
          h1 prism
        p.lead A Photo Sharing Application
      #btn
        a(href="/login")
          button.btn(type="button") Login
      #btn
        a(href="/register")
          button.btn(type="button") Register
      #selLog
        a(href="/about")
          button.btn.btn-primary(type="button") About

  if (user)
    a(href="/")
      #logoText
        p prism
    .container
      #myStyle
        img#proP.myClass(src= " " + user.propic)
        .myClass
          #fullName
            h1 #{user.fullname}
          #myUserTitle
            p <em>#{user.title}</em>
    #wrapper
        #list
    #selLog
      a(href="/update")
        button.btn.btn-primary(type="button") Edit
      a(href="/upload")
        button.btn.btn-primary(type="button") Upload
      a(href="/logout")
        button.btn.btn-primary(type="button") Logout
        script.
          currentUser= !{JSON.stringify(user)};
          thisimage = " ";
    .back-to-top 
      a(href="#")  
        .back-to-top ^