extends layout
<link type="text/css" rel="stylesheet" href="public/stylesheets/style.css" />
block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register

  if (user)
    #logoText
      p PRISM
    .container
        #myStyle
          img#proP.myClass(src= " " + user.propic)
          .myClass
            h1 #{user.fullname}
            #myTitle
                p <em>#{user.title}</em>
    #selLog
      a(href="/logout") Logout
