extends layout
<link type="text/css" rel="stylesheet" href="public/stylesheets/style.css" />
block content
  if (!user)
    //img(src="/img/background2.jpg", id="bg", alt="")
    .container
      #myStyle
        #bigLogo
          h1 prism
        p.lead A Photo Sharing Application
      #btn
        a(href="/login")
          button.btn(type="button") Login
      #btn
        a(href="/register")
          button.btn(type="button") Register
      #selLog
        a(href="/about")
          button.btn.btn-primary(type="button") About

  if (user)
    #logoText
      p prism
    .container
      #myStyle
        img#proP.myClass(src= " " + user.propic)
        .myClass
          #fullName
            h1 #{user.fullname}
          #myUserTitle
            p <em>#{user.title}</em>
    #selLog
      a(href="/logout")
        button.btn.btn-primary(type="button") Logout
      a(href="/update")
        button.btn.btn-primary(type="button") Update
