doctype html
html
  head
    title Prism
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', type='image/png', href='/img/templogo.png')
    //link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
  script(src='http://code.jquery.com/jquery.js')
  script(src="http://code.jquery.com/jquery-1.11.1.min.js")
  script(src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js")
  script(src="http://jqueryvalidation.org/files/dist/additional-methods.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js")
  script(src="/js/validate.js")
  script(src="/js/gallery.js")
  script(src="/js/comments.js")
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
