extends layout
block extraHeader
    title Search
block content
    script.
        var searchusers = !{JSON.stringify(users)};
    
    a(href="/")
        #logoText
            p prism
    #emptyareaindex
    #emptyareaindex
    #myStyle
        h1 Search
        br
        br
        form(role='form', action="/searchby/username" ,method="post")
            .form-group
                input.form-control(type='text', name="username", placeholder="username")
            .errors
            button.btn.btn-default(type='submit') Search
        #searchwrapper
            #search
        if(!users)
            h4 #{message}
