extends layout
block extraHeader
    title Search
block content
    a(href="/")
        #logoText
            p prism
    if(currentuser)
        #selLog
            a(href="/")
                button.btn.btn-primary(type="button") My Profile
            a(href="/logout")
                button.btn.btn-primary(type="button") Logout
    if(!currentuser)
        #selLog
            a(href="/login")
                button.btn.btn-primary(type="button") Login
        #myStyle
            h1 Search
            br
            br
            form(role='form', action="/search/username" ,method="get", id='search',style='max-width: 300px;')
                .form-group
                    input.form-control(type='text', name="username", placeholder="username")
                .errors
                button.btn.btn-default(type='submit') Search