extends layout
block extraHeader
    title Login
block content
    //img(src="/img/background.jpg", id="bg", alt="")
    .container
        #myStyle
            h1 Update Image
            h4 #{message}
            br
            form(role='form', action="/image/#{imgid}/update" ,method="post", id='update-photo',style='max-width: 300px;')
                br
                .form-group
                    input.form-control(type='text', name="title", value="#{imgtitle}")
                .errors
                button.btn.btn-default(type='submit') Submit
                a(href='/')
                    button.btn.btn-primary(type="button") Cancel

                &nbsp;
