extends layout

<script src="public/js/jquery.tagsinput.js"></script>
<script src="public/js/tags.js"></script>
<link rel="stylesheet" type="text/css" href="public/stylesheets/jquery.tagsinput.css" />

block extraHeader
    title Upload
block extraScript
    script(src="/js/autocomplete.js")
block content
    //img(src="/img/background.jpg", id="bg", alt="")
    .container
        #myStyle
            if(user)
                h1 Upload Image
                    h4 #{message}
                    br
                form(method="post", name="upload", id="uploadform", action="/upload", enctype="multipart/form-data", style='max-width: 300px;')
                    input.form-control(type='text', name="title", placeholder="Title (optional)")
                    //input.form-control(type='text', name="tags", id="tags", placeholder="Camera")
                    input(type="file", name="singleFile", id="filesize")
                    div.actions
                        button.btn.primary(type="submit" id="submitbtn") Upload
                        a(href='/')
                            button.btn.btn-primary(type="button") Cancel
                #error

                //form(role='form', action="/user/#{user.id}/upload" ,method="post", id='upload',style='max-width: 300px;')
                    br
                    .form-group
                        input.form-control(type='text', name="title", placeholder="Title (optional)")
                    .form-group
                        input.form-control(type='text', name="photo", placeholder="image url")
                    //.form-group
                        //input.form-control(type='text', name="tags", id="tags", class='tags', placeholder="tags")
                    .errors
                    button.btn.btn-default(type='submit') Submit
                    a(href='/')
                        button.btn.btn-primary(type="button") Cancel
                   
                //&nbsp;
            if(!user)
                h4 Must be logged in to upload a picture.
                a(href="/login")
                    button.btn.btn-primary(type="button") Login