extends layout
<script src="public/js/jquery.tagsinput.js"></script>
<script src="public/js/tags.js"></script>
<link rel="stylesheet" type="text/css" href="public/stylesheets/jquery.tagsinput.css" />



block content
    //img(src="/img/background.jpg", id="bg", alt="")
    .container
        #myStyle
            h1 Upload Image
            h4 #{message}
            br
            if(user)
                form(role='form', action="/user/#{user.id}/upload" ,method="post", id='upload',style='max-width: 300px;')
                    br
                    .form-group
                        input.form-control(type='text', name="title", placeholder="Title (optional)")
                    .form-group
                        input.form-control(type='text', name="photo", placeholder="image url")
                    .form-group
                        input.form-control(type='text', name="tags", id="tags", class='tags', value="foo,bar,baz")
                    .errors
                    button.btn.btn-default(type='submit') Submit
                    a(href='/')
                        button.btn.btn-primary(type="button") Cancel
                   
                &nbsp;
                