extends layout
block content
    #logoText
        p prism
    if(currentuser)
        #selLog
            a(href="/")
                button.btn.btn-primary(type="button") My Profile
            a(href="/logout")
                button.btn.btn-primary(type="button") Logout
    if(!currentuser)
        #selLog
            a(href="/login")
                button.btn.btn-primary(type="button") Login
    if(usr)
        .container
            #myStyle
                img#proP.myClass(src= " " + usr.propic)
                .myClass
                    #fullName
                        h1 #{usr.fullname}
                    #myUserTitle
                        p <em>#{usr.title}</em>
    if(!usr)
        #myStyle
            h1 USER NOT FOUND
            a(href="/")
                button.btn.btn-primary(type="button") Home