body {
  color: #000000;
  background-color: #282828;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #B4CFEC;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#myStyle{
  text-align: center;
  align-content: center;
  margin: auto;
  width: auto;
  color: #ffffff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#myTitle{
  margin: auto;
  color: #ffffff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#imageStyle{
  max-width: 1%;
  max-height: 1%;
  position: inherit;
  top: 0px;
  left: 0px;
}

#logoText{
  color: #B4CFEC;
  padding: 8px;
  font: 45px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#proP{
  padding: 20px;  
  display: inline-block;
  align-content: left;
  width: 150px;
  height: 150px;
}


.myClass{
    display: inline-block;
}
