@font-face {
    font-family: "alegreya-sans.thin";
    src: url('alegreya-sans.thin.ttf');
}
/*uploaded font for all text but title*/

@font-face {
    font-family: "alegreya-sans.regular";
    src: url('alegreya-sans.regular.ttf');
}
body {
    color: #000000;
    background-color: #282828;
    font: 14px;
    font-family: 'alegreya-sans.thin';
}

#headerImg{
    background-image: url("img/background2.jpg");
    width: 100%;
    height:auto;
    object-fit: contain;
}
.back-to-top{
    transition: all .05s ease-in-out;
    bottom: 0;
    right: 0;
    font-size: 35px;
    color: white;
    position: fixed;
    padding-right: 30px;
    z-index: 100;
}
.back-to-top:hover{
    transition: all .05s ease-in-out;
    cursor: pointer;
    bottom: 0;
    right: 0;
    font-size: 40px;
    color: white;
    position: fixed;
    padding-right: 28px;
    z-index: 100;
}
#pad {
    padding: 20px;
}
.comArea {
    width: auto;
    vertical-align: middle;
    float: none;
}
.comArea p {
    text-align: left;
}
.comArea img {
    transition: all .3s ease-in-out;
    display: table-cell;
    /*border-radius: 50%;*/
    
    vertical-align: middle;
    padding: 10px;
    object-fit: cover;
}
.comArea img:hover {
    transition: all .3s ease-in-out;
    display: table-cell;
    border-radius: 50%;
    vertical-align: middle;
    padding: 10px;
    object-fit: cover;
}
#bigLogo {
    text-align: center;
    align-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Ubuntu;
    letter-spacing: 5px;
}
a {
    color: #B4CFEC;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#fullName {
    padding-top: 60px;
    font-family: "alegreya-sans.thin";
    text-align: center;
    align-content: center;
    margin: auto;
    width: auto;
    color: #ffffff;
    font: 14px;
    letter-spacing: 5px;
}
#myStyle {
    text-align: center;
    align-content: center;
    padding-top: 60px;
    margin: auto;
    width: auto;
    color: #ffffff;
    font: 14px;
    font-family: Ubuntu;
    letter-spacing: 5px;
}
#myTitle {
    text-align: center;
    align-content: center;
    margin: auto;
    width: auto;
    color: #ffffff;
    font: 14px;
    font-family: 'alegreya-sans.thin';
}
#imageStyle {
    max-width: 1%;
    max-height: 1%;
    position: inherit;
    top: 0px;
    left: 0px;
}
#logForm {
    text-align: center;
    margin: 0 auto;
    align-content: center;
    display: inline-block;
}
.btn.sharp {
    border-radius: 0;
}
#logoText {
    top: 0;
    left: 0;
    font-size: 40px;
    position: absolute;
    color: #FFFFFF;
    padding-left: 40px;
    font-family: 'alegreya-sans.regular';
}
.btn {
    transition: all .2s ease-in-out;
    background-color: Transparent;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 20px;
    font-family: monospace;
    border: solid #ffffff 0.5px;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    margin: 7px;
}
.btn:hover {
    transition: all .1s ease-in-out;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
}
#wrapper {
    padding-top: 15px;
    margin: 0 auto;
}
#list {
    margin: 0 auto;
}
.item {
    margin: 5px;
}
.item img {
    height: auto;
    width: 400px;
}
#accounts img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#accounts {
    margin: 0 auto;
}
.item {
    position: relative;
}
.text-content {
    position: absolute;
    font-family: Ubuntu;
    font-size: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    line-height: 300px;
    text-align: center;
    transition: all 0.2s ease-out;
    visibility: hidden;
    opacity: 0;
    /*remove comment if you want a gradual transition between states
    -webkit-transition: visibility opacity 0.2s;
    */
}
#footer{
    /*background: #282828; 
    background: -webkit-linear-gradient(#282828, #141414); 
    background: -o-linear-gradient(#282828, #141414); 
    background: -moz-linear-gradient(#282828, #141414);
    background: linear-gradient(#282828, #141414);*/
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    position: relative;
    min-width: 100%
}
#footbtn{
    color: grey;
    transition: all 0.2s ease-out;
    display:inline-table;
    cursor: pointer;
    font-size: 16px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    padding: 50px;
    
    
}
#footbtn:hover{
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: white;
    background:none;
    border:none;
    margin:0;
    padding:0;
    padding: 50px;
    
}
.item:hover .text-content {
    transition: all 0.2s ease-in;
    visibility: visible;
    opacity: 1;

}
.photoStyle {
    height: 500px;
    width: auto;
    border: solid #ffffff 10px;
}
input,
textarea {
    font-size: 16px;
    width: auto;
    font-family: monospace;
    color: #ffffff;
    border: solid #ffffff 0.5px;
    padding: 7px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0);
}
::-webkit-input-placeholder {
    font-size: 14px;
}
:-moz-placeholder {
    /* older Firefox*/
    
    font-size: 14px;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    font-size: 14px;
}
#proP {
    padding-top: 60px;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: inline-block;
    align-content: left;
    width: 190px;
    height: 170px;
    top: -20px;
    object-fit: cover;
}
#myUserTitle {
    margin: auto;
    float: left;
    color: #ffffff;
    font: 20px;
    font-family: 'alegreya-sans.thin';
}
#bg {
    filter: blur(30px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    /* Preserve aspet ratio */
    
    min-width: 100%;
    min-height: 100%;
}
form {
    display: block;
    width: auto;
    margin: 0 auto;
}
#upForm {
    color: #ffffff;
    font: 14px;
    font-family: 'alegreya-sans.regular';
}
#proPicInputTxt {
    color: #000000;
    font: 14px;
    font-family: 'alegreya-sans.regular';
}
#btn {
    display: block;
    text-align: center;
    align-content: center;
    color: #ffffff;
    font: 14px;
    font-family: 'alegreya-sans.regular';
}
.myClass {
    display: inline-block;
}
#selLog {
    font-family: 'alegreya-sans.regular';
    padding: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
form .progress {
    line-height: 15px;
}
<<<<<<< HEAD


=======
}
>>>>>>> 826f804f72af0519e56fa382b7497161001ded08
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
@media only screen and (max-width: 760px) {
    .btn {
        transition: all .2s ease-in-out;
        background-color: Transparent;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 10px;
        font-family: monospace;
        color: #ffffff;
        cursor: pointer;
        overflow: hidden;
        margin: 7px;
        font-size: 15px;
    }
    #logoText {
        -ms-transform: rotate(90deg);
        /* IE 9 */
        
        -webkit-transform: rotate(90deg);
        /* Chrome, Safari, Opera */
        
        transform: rotate(90deg);
        top: 0;
        left: 0;
        padding-top: 60px;
        padding-right: 30px;
        float: left;
        font-size: 30px;
        position: absolute;
        color: #FFFFFF;
        font-family: 'alegreya-sans.regular';
    }
    #myStyle {
        text-align: center;
        align-content: center;
        padding-top: 60px;
        margin: 0 auto;
        width: auto;
        color: #ffffff;
        font: 14px;
        font-family: Ubuntu;
        letter-spacing: 3px;
    }
    #proP {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    #fullName {
        font-family: "alegreya-sans.thin";
        text-align: center;
        color: #ffffff;
        font: 14px;
        letter-spacing: 3px;
    }
    .myClass {
        display: inline-block;
    }
    #myUserTitle {
        text-align: center;
        float: inherit;
        color: #ffffff;
        font: 20px;
        font-family: 'alegreya-sans.thin';
        display: block;
    }
    #wrapper {
        margin: auto 0px auto auto;
        width: 100%;
        text-align: center;
    }
    .item:hover .text-content {
        line-height: 200px;
        display: inline-block;
        vertical-align: middle;
        transition: all 0.2s ease-in;
        visibility: visible;
        opacity: 1;
        text-align: center;
        font-size: 16px;
    }
    .item img {
        width: 270px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .item {
        margin: 5px auto;
        position: absolute;
    }
    .photoStyle {
        max-width: 95%;
        height: 300px;
        width: auto;
        object-fit: contain;
        border: none;
    }
    #commentPic img {
        vertical-align: top;
        padding: 20px;
        display: inline-block;
        align-content: left;
        width: 30px;
        height: 30px;
        top: -20px;
        object-fit: cover;
    }
    #list {
        display: inline-block;
        margin: 0 auto;
    }
}