@font-face{
  font-family: "alegreya-sans.thin";
  src: url('alegreya-sans.thin.ttf');
}
/*uploaded font for all text but title*/
@font-face{
  font-family: "alegreya-sans.regular";
  src: url('alegreya-sans.regular.ttf');
}

body {
  color: #000000;
  background-color: #282828;
  padding: 50px;
  font: 14px;
  font-family: 'alegreya-sans.thin';
}

a {
  color: #B4CFEC;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#myStyle{
  text-align: center;
  align-content: center;
  padding-top: 60px;
  margin: auto;
  width: auto;
  color: #ffffff;
  font: 14px;
  font-family:'alegreya-sans.regular';
}


#myTitle{
  text-align: center;
  align-content: center;
  margin: auto;
  width: auto;
  color: #ffffff;
  font: 14px;
  font-family:'alegreya-sans.thin';
}

#myTitle{
  margin:auto;
  align-content: left;
  color: #ffffff;
  font: 14px;
  font-family: 'alegreya-sans.thin';
}

#imageStyle{
  max-width: 1%;
  max-height: 1%;
  position: inherit;
  top: 0px;
  left: 0px;
}

.btn.sharp {
  border-radius:0;
}

#logoText{
  top:0;
  left:0;
  font-size: 50px;
  position: fixed;
  color: #B4CFEC;
  padding-top: 20px;
  padding-left: 40px;
  font-family: 'alegreya-sans.regular';
}

#proP{
  vertical-align: middle;
  padding: 20px;
  display: inline-block;
  align-content: left;
  width: 150px;
  height: 150px;
  top: -20px;
}

form {
  display: inline-block;
  text-align: center;
}

#upForm{
  color: #ffffff;
  font: 14px;
  font-family: 'alegreya-sans.regular';

}

#proPicInputTxt{
  color: #000000;
  font: 14px;
  font-family: 'alegreya-sans.regular';
}

#btn{
  text-align: center;
  align-content: center;
  color: #ffffff;
  font: 14px;
  font-family: 'alegreya-sans.regular';

}

.myClass{
  display: inline-block;
}

#selLog{
  font-family: 'alegreya-sans.regular';
  padding: 40px;
  position: fixed;
  top: 0;
  right: 0;

}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}